.table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    border: 5px solid #008182;
    border-radius: 20px;
    width: 500px;
    height: 500px;
    background-color: #008182;
}

.display {
    border: 5px solid #57CCB9;
    border-radius: 20px;
    height: 100px;
    width: 400px;
    background-color: white;
    margin: 10px;
}

.nilai {
    border: 3px solid #23836D;
    border-radius: 20px;
    background-color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 50px;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

.pointer {
    width: 206px;
}

.text {
        border: 3px solid #23836D;
    border-radius: 20px;
    background-color: red;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 50px;
    display: table-cell;
    vertical-align: middle;
}

.td {
    justify-items: center;
    padding: 5px;
}




.calculatorwithbutton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.calculatorwithouttable {
    background-color: #4C4C4C;
    width: 500px;
    height: 700px;;
    border-radius: 10px;
}

.div {
    display: flex;
    justify-content: center;
}

.screen {
    width: 450px;
    height: 100px;
    border: 1px solid ;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 50px;
    text-align: end;
}

.button {
    width: 106px;
    height: 106px;
    border: 1px solid ;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    font-size: 40px;

}

.double {
    width: 220px;
}

.code {
    background-color: #6BC3D1;
}

.value {
    background-color: #808080;
}

.type {
    background-color: red;
}